@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Sora', sans-serif;
}